#FAQContent {
    margin-top: 20px;
    animation: fadeInAnimation ease 1s;
    padding-left: 13%;
    padding-right: 13%;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.FAQHeader {
    background-color: #262a30;
    color: white;
    cursor: pointer;
    padding: 20px 25px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 2px solid #2f3032;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.FAQHeader h2 {
    font-size: 19px;
    margin: 0;
}

.active,
.FAQHeader:hover {
    color: white;
}

.FAQtekst {
    padding: 0px 25px;
    background-color: #101728;
    color: white;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.FAQtekst p {
    padding: 20px 0px;
    font-size: 17px;
}

.FAQHeader:after {
    content: "\f078";
    font-size: 18px;
    color: #202f46;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\f078";
    color: #FFFFFF;
}

#faqtext {
    color: white;
    margin-top: 100px;
    text-align: left;
    padding-left: 13%;
    padding-right: 13%;
}