
#logowanieContainer{
    display: flex;
    justify-content: center;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#logowanie{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    float: left;
    width: 500px;
    height: 450px;
    background-color: #2f3032;
    border-radius: 10px;
    margin: 20px;
    margin-top: 50px;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    transition: background-color .5s linear;
    
}

#logowanieHeader{
    font-size: 40px;
    color: white;
    margin-top: 70px;
    width: 100%;
    margin-bottom: 60px;
}

#headerDiv{
    display: flex;
    justify-content: center;
    text-align: center;
}


.loginBtn{
    margin-top: 35px;
    width: 350px;
    height: 80px;
    border-radius: 20px;
    border: 0px;
    color: #2f3032;
    font-size: 20px;
    font-family: 'Codec Pro', sans-serif;
}

#loginBtnDiv{
    margin-top: 35px;
    
}

#buttonsUseradd{
    margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}